<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @snippet.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @snippet.code %>
</p>

<p>
  <strong>Expl md:</strong>
  <%= @snippet.expl_md %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @snippet.user.display_name, @snippet.user %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
