<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @snippet.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @snippet.code %>
</p>

<p>
  <strong>Expl md:</strong>
  <%= @snippet.expl_md %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @snippet.user.display_name, @snippet.user %>
</p>

<h2>Comments</h2>

<% @snippet.comments.each do |comment| %>
  <article>
    <%= comment.body %>
    <footer>
      <cite>
        <%= link_to comment.user.display_name, comment.user %>
      </cite>
      <% if current_user == comment.user %>
        <%= link_to 'delete', comment_path(comment), :method => :delete %>
      <% end %>
    </footer>
  </article>
<% end %>

<%# Only show Add Comment section to logged in users %>
<% if logged_in? %>
  <h3>Add Comment</h3>

  <%= form_for([@snippet, @snippet.comments.build]) do |f| %>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
