<h1>Create A New User Profile</h1>

<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
